/ai-venv
/ai_course/pert_7/dataset
/ai_course/pert_8/dataset
/ai_course/pert_8/models
/ai_course/pert_8/runs
/ai_course/uas/Neutral_Dataset
/ai_course/uas/Yolo_Dataset
/ai_course/uas/models
/ai_course/uas/runs
/ai_course/uas/dataset+sourcecode.rar
/ai_course/uas/Dataset yolo 10gb++ jadi tidak dimasukan.txt
